<!DOCTYPE html>
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("/api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<%= favicon_link_tag asset_path('half_m.png'), :rel => 'icon', :type =>  'image/png' %>


<html>
  <head>
    <title>HalfAThousandLittleBoxes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
